@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: "poppins";
}
.hero {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #f8c4fc, #faf3f822 60%);
}
.hero-left {
    display: flex;
    flex-direction: column;
    padding-top: 5.5rem;
    padding-left: clamp(1px, 6vw, 7rem);
}
.hero-left h2 {
    font-size: clamp(0.9rem, 2vw, 1.5rem);
    margin-bottom: 0.2rem;
}
.hero-left p {
    font-size: clamp(3rem, 5vw, 10rem);
    font-weight: 600;
    line-height: 1.3;
}
.hand-new-div {
    display: flex;
    gap: 1rem;
}
.hand-img {
    height: 5rem;
}
.hero-latest-btn {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    color: white;
    border-radius: 3rem;
    width: 12.4rem;
    height: 3rem;
    padding: 0 1rem;
    background-color: #febbbb;
    margin-top: 1.3rem;
}
.hero-right {
    display: flex;
    justify-content: center;
    margin-right: 6vw;
}
.hero-img {
    width: clamp(20rem, 30vw, 50rem);
    height: clamp(40rem, 40vw, 65rem);
}
.hero-left-btn-icon {
    width: 1rem;
}

@media (max-width: 610px) {
    .hero {
        flex-wrap: wrap;
        justify-content: center;
        background: linear-gradient(180deg, #fde1ff 50%, #e1ffea22 );

    }
    .hero-right {
        display: flex;
        justify-content: center;
    }
    .hand-new-div{
        justify-content: center;
    }
    .hero-left{
        padding-left: 0;
        align-items: center ;
        margin-top: 3vw;
        text-align: center;
        padding-bottom: 2rem;

    }
    .hand-img{
        position: relative;
        bottom: 0.5rem;
        width: 4rem;
        height: 4rem;
    }
    .hero-img{
        margin-left: 3.3rem;
    }

}


